{% extends "base.html.twig" %}

{% block title %}
    Conditions générales de vente
{% endblock %}

{% block body %}
    <h1 class="mb-5 mt-5 text-center">CONDITIONS GENERALES DE VENTES</h1>

    <p>Dernière mise à jour : 06/05/2022

Les présentes conditions de vente sont conclues entre :

D'une part,

La société ds-music.com, SARL au capital de 600.000 euros, dont le siège social est situé 1 rue du temps, Meaux (77100), et enregistrée au Registre du Commerce et des Sociétés de Paris sous le numéro xxx xxx xxx.
Ci-après dénommée «ds-music.com» ou «ds-music».


Et d'autre part,

Toute personne physique ou morale souhaitant procéder à un achat sur le site Internet de ds-music.com.
Ci-après dénommée «le Client» ou «l'Acheteur».


Article 1 - Objet

Les présentes Conditions Générales de Vente visent à définir les relations contractuelles entre ds-music.com et l'Acheteur, ainsi que les conditions applicables à tout achat effectué par le biais du site marchand de ds-music.com, que l'Acheteur soit professionnel ou consommateur.

L'acquisition d'un bien ou d'un service à travers le présent site implique une acceptation sans réserve par l'Acheteur des présentes conditions de vente. Ces conditions de ventes s'appliquent à l'exclusion de toutes autres conditions, notamment celle en vigueur en magasin. Elles prévaudront sur toutes autres conditions générales ou particulières non expressément agréées par ds-music.com.
ds-music.com se réserve la possibilité de modifier ses conditions de vente à tout moment.
Dans ce cas, les conditions applicables seront celles en vigueur à la date de commande par l'Acheteur.


Article 2 - Caractéristiques des biens et services proposés

Les produits et services offerts sont ceux qui figurent dans le catalogue publié dans le site ds-music.com.
Ces produits et services sont offerts dans la limite des stocks disponibles.
Les stocks sont tenus à jour quotidiennement.
ds-music possède plus de 1 000 articles en stock.
Cependant, il peut arriver que le nombre de produits commandés soit supérieur au nombre de produits en stock.
Dans ce cas vous serez prévenu par courrier électronique et nous vous indiquerons la date de disponibilité de votre produit.

Nous vous invitons à vous reporter au descriptif de chaque produit pour en connaître les caractéristiques précises; et en cas de doute ou si vous souhaitez des renseignements complémentaires n'hésitez pas à nous contacter au 02 61 88 01 40 depuis la France et au +33 2 57 88 00 74 numéro accessible depuis l'étranger. ds-music.com n’est responsable que du contenu des pages qu’elle édite.
Article 4 - Tarifs

Les prix de nos produits livrés en France Métropolitaine et en Europe sont indiqués en Euros toutes taxes comprises hors participation aux
frais de traitement et d'expédition.
Les prix de nos produits livrés dans les DOM TOM et hors Zone Euro sont indiqués en Euros hors taxes, hors participation aux frais de traitement et d'expédition. Le paiement de la TVA applicable, ainsi que des droits de douane se fait par le Client auprès des autorités fiscales et douanières locales.
ds-music.com se réserve le droit de modifier ses prix à tout moment, étant toutefois entendu que le prix affiché le jour de la commande sera le seul applicable à l'Acheteur.

Tout changement du taux de TVA pourra être répercuté sur le prix des produits ou des services.

ds-music rembourse la différence si l'Acheteur trouve moins cher ailleurs, hors opérations promotionnelles (soldes, déstockage, etc.). Offre valable sous un délai de 7 jours pour tout article acheté chez ds-music.com.

Le remboursement est effectué sur présentation d'une facture pro-forma (devis) établie au plus tard 7 jours après l'achat par un revendeur agréé situé en France métropolitaine et ayant le produit en stock avec des conditions de services identiques dont une garantie de 3 ans.

La demande doit être communiquée par l’Acheteur à : conseil@ds-music.com
Le remboursement est effectué sous un délai de 30 jours sous forme d’un bon d’achat valable 6 mois chez ds-music.com.

Caractéristiques des Produits : produits neufs de mêmes marques, mêmes références/caractéristiques et commercialisés dans les mêmes conditions de services. Hors produits revendus sur Marketplace et hors produits non livrés en France métropolitaine.

Disponibilité des Produits concernés : les produits éligibles au remboursement de la différence doivent être disponibles, en magasin et/ou sites internet chez les enseignes concurrentes.


Article 5 - Ecotaxe

ds-music.com est adhérent d’Eco-systèmes qui garantit la collecte, la dépollution et le recyclage des appareils électriques usagés, dans le respect des plus hautes exigences environnementales et sociales.

Dans ce cadre ds-music.com affiche sur son site et facture à ses Clients une «éco-participation» correspondant au coût de collecte et de recyclage du produit, de façon visible et séparée de son prix de vente.
Lors d'un achat sur ds-music.com, le montant de l'éco-participation est indiqué au pied de la facture.

L’Acheteur peut bénéficier de la reprise de l’ancien équipement acheté chez ds-music, lors de la livraison du nouveau matériel. L’Acheteur doit remplir le formulaire de contact depuis son compte Client > Mon compte > Contacts SAV.
L’Acheteur peut également trouver un point de collecte en se connectant sur www.eco-systemes.fr.


Article 6 - Disponibilité

Les offres de produits et prix sont valables tant qu'ils sont visibles sur le site de ds-music, dans la limite des stocks disponibles.
Les commandes sont traitées à réception du paiement et selon la disponibilité des produits. Dans l’'éventualité d'une indisponibilité de produit après passation de la commande, ds-music en informera l’Acheteur par courrier électronique, SMS ou par courrier indiquant la date de disponibilité du produit.

Pour les produits non stockés dans les entrepôts de ds-music, les offres sont valables sous réserve de disponibilité chez les fournisseurs.
Dans ce cadre, des indications sur la disponibilité des produits sont fournies au moment de la passation de la commande. Ces informations provenant directement des fournisseurs de ds-music, des erreurs ou modifications peuvent exceptionnellement exister. Dans l'éventualité d'une indisponibilité du produit après passation de la commande, ds-music en informera l'Acheteur par courrier électronique, SMS ou par courrier, dès réception des informations reçues par ses fournisseurs. De même, il peut arriver que le nombre de produits commandés soit supérieur au nombre de produits en stock. Dans ce cas vous serez prévenu par courrier électronique, SMS ou par courrier et nous vous indiquerons la date de disponibilité de votre produit.

En cas d'indisponibilité définitive du produit, la commande sera annulée et l'Acheteur en sera informé par courrier électronique.

En application des dispositions de l'article L.216-2 du Code de la consommation, en cas d'indisponibilité du produit ou du service, l'Acheteur dispose alors de la faculté d'être remboursé du produit ou du service commandé dans les 14 jours suivant sa demande.


Article 7 - Commande

Sur Internet : www.ds-music.com
Par téléphone : au 02 61 88 01 40 depuis la France et au +33 2 61 88 01 40 numéro accessible depuis l'étranger.

L'Acheteur, qui souhaite acheter un produit ou un service doit obligatoirement :
- remplir la fiche d'identification sur laquelle il indiquera toutes les coordonnées demandées, ainsi que toutes informations nécessaires à la livraison (numéro de téléphone mobile et également les codes d'accès aux portes des immeubles). Le mot de passe qui permet d'accéder à son compte Client est strictement personnel. Lors de chaque visite, lorsqu'il accédera à ses données personnelles dans sa session, ou lorsqu'il passera une commande, le Client aura été identifié au préalable par son identifiant et son mot de passe, étant précisé que celui-ci ne sert pas à effectuer de paiement ;
- remplir le bon de commande en ligne en donnant toutes les références des produits ou services choisis ;
- valider la commande après l'avoir vérifiée ;
- effectuer le paiement dans les conditions prévues.

La confirmation de la commande entraîne acceptation des présentes conditions de vente, la reconnaissance d'en avoir parfaite connaissance et la renonciation à se prévaloir de ses propres conditions d'achat ou d'autres conditions.
L'ensemble des données fournies et la confirmation enregistrée vaudront preuve de la transaction.
La confirmation vaudra signature et acceptation des opérations effectuées.

ds-music.com communiquera par courrier électronique confirmation de la commande enregistrée.
ds-music.com ne saurait être mis en cause et tenu pour responsable des conséquences de tous évènements échappant à sa volonté notamment les cas de force majeure, qui tendraient à retarder ou empêcher la passation de la commande en ligne.
Dans le cadre de sa politique de lutte contre la fraude, ds-music.com peut être amenée à demander au Client des informations et documents complémentaires afin de finaliser la Commande. Dans ce cas, le Client est prévenu par courrier électronique ou par téléphone des documents justificatifs à envoyer afin d'obtenir la validation définitive de sa commande.
ds-music.com se réserve le droit d'annuler la commande en cas de non réception des documents justificatifs ou de réception de documents jugés non conformes.

La commande du Client pourra être annulée par ds-music.com, pour quelque raison que ce soit, notamment en cas de défaut d'informations nécessaires à la livraison. Le Client en sera tenu informé par ds-music.com.


Article 8 - Modalités de paiement

8.1 Paiement au comptant pour les particuliers

- Par carte bancaire des réseaux CB, VISA , MASTERCARD et AMERICAN EXPRESS.
Les paiements par carte bancaire sont réalisés par le biais du système sécurisé de la Banque Populaire qui utilise le protocole SSL (Secure Socket Layer) de telle sorte que les informations transmises sont cryptées par un logiciel et qu'aucun tiers ne peut en prendre connaissance au cours du transport sur le réseau. La commande sera considérée comme effective après confirmation de l'accord des centres de paiement bancaire.

L'Acheteur garantit qu'il est pleinement habilité à utiliser la carte bancaire pour le paiement de sa commande et que ce moyen de paiement donne accès à des fonds suffisants pour couvrir tous les coûts liés à la commande de produits ou de services sur le site ds-music.com.

- Par virement bancaire :
Un numéro de commande vous sera communiqué par mail, immédiatement après la validation de votre commande. Nous vous remercions de bien vouloir indiquer ce numéro de commande dans l'objet de votre virement bancaire. Nous vous invitons à utiliser les coordonnées bancaires ci-dessous (en précisant bien à votre banque d'effectuer un "virement OUR" si vous effectuez un paiement depuis les TOM ou l'étranger).

Titulaire du compte ds-music.COM
Domiciliation : SG PARIS LA FAYETTE
IBAN : FR76 3000 3032 1100 0200 7177 828
BIC : SOGEFRPP

Votre commande ne pourra être traitée qu'à réception de votre virement. Si votre règlement ne nous est pas parvenu sous 15 jours, votre commande sera automatiquement annulée.

Les frais de virements sont à la charge de l'Acheteur.

- Par Paypal :
PayPal est une entreprise qui propose un service de paiement sur Internet, permettant à un internaute d'envoyer ses paiements via Internet avec une adresse électronique, sans avoir à communiquer ses coordonnées de carte bancaire à chaque transaction.

- Par chèque Cadeaux ds-music :
L'Acheteur renseigne sur la page de paiement, le ou les codes figurant sur les chèques.
L'Acheteur peut compléter le montant de sa commande par le règlement de son choix si le montant de la commande est supérieur au montant du/des chèques cadeaux. La valeur d'un chèque doit être utilisée dans sa totalité.
Les chèques ds-music.com sont valables un an.

- Par, Ticket Kadéos Infini et Ticket Kadéos® Horizon :
L'Acheteur adresse ses coupons en lettre recommandée ou en Colissimo suivi à ds-music.com - La Vigie - 1 rue du charron - Bâtiment D, 44800 Saint-Herblain.
L'Acheteur peut compléter le montant de sa commande par le règlement de son choix si le montant de la commande est supérieur au montant du/des chèques cadeaux. La valeur d'un chèque doit être utilisée dans sa totalité.

8.2 Paiement par financement pour les particuliers

- Par carte bancaire en 3 fois sans frais
Pour tout achat compris entre 149 euros et 3000 euros TTC, les Acheteurs, personnes physiques non professionnelles, peuvent choisir le mode de paiement par carte bancaire en 3 fois sans frais sous réserve d'acceptation du dossier par Cofidis. L'Acheteur sera débité du montant de sa commande en trois échéances sur sa carte bancaire. Le premier débit aura lieu le jour de la commande et sera égal au 1/3 du montant TTC. Les deux autres débits représentant chacun 1/3 du montant de la commande auront lieu respectivement 1 mois et 2 mois plus tard.

Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.


8.3 Paiement pour les professionnels

- Par Mandat Administratif
Ce mode de paiement est réservé aux administrations : Mairie, Conservatoire, École, Orchestre.


La commande du Client sera considérée comme acceptée après confirmation du paiement et de sa validation par ds-music.com. La marchandise restera la propriété de ds-music.com jusqu'au complet règlement de la facture (Loi n° 80335 du 12 mai 1980).
Tout règlement après la date de paiement prévue lors de la transaction peut donner lieu à la facturation de pénalités de retard sans qu’aucune mise en demeure préalable ne soit nécessaire. Le taux de ces pénalités est égal à trois fois le taux d’intérêt Légal. L'acceptation du colis entraîne automatiquement, en cas de retard de paiement, l'application outre les pénalités de retard, la facturation des frais administratifs occasionnés par le recouvrement tardif de la facture qui peuvent s’élever à 15% avec un minimum de 20 euros.</p>
{% endblock %}

