{% extends "base.html.twig" %}

{% block title %}
    Nous contacter
{% endblock %}

{% block body %}
    <h1 class="mt-4 mb-4 text-center">COMMENT NOUS CONTACTER</h1>
    <p><strong>Adresse boutique :</strong> 3 rue Sadi Carnot, 77100 MAREUIL LES MEAUX</p>
    <p><strong>Adresse email :</strong> contact@ds-music.com</p>
    <p><strong>Téléphone boutique :</strong> 06.99.99.99.99</p>
    <p><strong>Responsable service après vente :</strong> 06.99.99.99.99</p>
{% endblock %}