{% extends "base.html.twig" %}

{% block title %}
    Mentions légales
{% endblock %}

{% block body %}
    <h1 class="mb-5 mt-5 text-center">MENTIONS LEGALES</h1>

    <p class="mb-4"><strong>Adresse : </strong>ds-music-france.com</p>
    <p class="mb-4"><strong>Téléphone : </strong>06.xx.xx.xx.xx</p>
    <p class="mb-4"><strong>Numéro du registre du commerce et des sociétés : </strong>RCS Paris xxx xxx xxx - APE xxxxx</p>
    <p class="mb-4"><strong>Numéro d'identification T.V.A. : </strong>FR xx xxx xxx xxx</p>
    <p class="mb-4"><strong>S.A.R.L captial social de : </strong>600.000 &euro;</p>
{% endblock %}