{% extends "base.html.twig" %}

{% block title %}
    Notre entreprise
{% endblock %}

{% block body %}
    <h1>Qui est réellement ds-music ?</h1>

    <h3>Une entreprise familiale</h3>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
            <img src="" alt="">
        </div>
    </div>
{% endblock %}