{% extends "base.html.twig" %}

{% block title %}
    Notre entreprise
{% endblock %}

{% block body %}
    <h1 class="text-center">QUI EST DS MUSIC ?</h1>

    <h3 class="text-center mb-5 mt-5">UNE ENTREPRISE FAMILIALE</h3>
    <div class="text-center row">
        <img class="col-12 col-md-12 col-lg-6 mb-4" src="/images/our-company/company-1.jpg" alt="company-1">
        <p class="col-12 col-md-12 col-lg-6 mb-4 company-text">DS Music est une entreprise familiale créee il y a plus de 20 ans par Thierry DUPRAZ, passioné de musique, et désireux de monter son propre commerce. Aujourd'hui à la retraite, c'est sa fille, Chloé DUPRAZ, 
        à qui il a transmis sa passion, qui a repris l'affaire en companie de son mari Romain CASTILLERE.</p>
        
    </div>
    <div class="product-trait mb-5 mt-5"></div>

    <h3 class="text-center mb-5 mt-5">UNE ENTREPRISE DE PASSION</h3>
    <div class="text-center row">
        <img src="/images/our-company/company-2.jpg" class="col-12 col-md-12 col-lg-6 mb-4" alt="company-2">
        <p class="col-12 col-md-12 col-lg-6 mb-4 company-text">Chez DS Music, nous accordons une grande importance à la passion. Tous nos vendeurs et salariés sont des amoureux de musique, pratiquant et cultivés dans le domaine.
        C'est pour cela qu'ils sont de très bons conseils !</p>
    </div>
    <div class="product-trait mb-5 mt-5"></div>

    <h3 class="text-center mb-5 mt-5">UNE ENTREPRISE LOCALE</h3>
    <div class="text-center row">
        <img src="/images/our-company/company-3.jpg" class="col-12 col-md-12 col-lg-6 mb-4" alt="company-3">
        <p class="col-12 col-md-12 col-lg-6 mb-4 company-text">DS Music s'investit beaucoup dans la commune de Mareuil lès Meaux et ses environs. Pour nous, il est important de participer à la vie de sa commune. Pour ce faire, 
        nous organisons regulièrement des concerts, participons aux oeuvres caritatives et finançons les programmes éducatifs locaux liés à la musique.</p>
    </div>
{% endblock %}