{% extends "base.html.twig" %}

{% block title %}
    Notre entreprise
{% endblock %}

{% block body %}
    <h1>Qui est réellement ds-music ?</h1>

    <h3>Une entreprise familiale</h3>
    <div>
        DS Music est une entreprise familiale créee il y a plus de 10 ans par mon cul sur la commode et son fils enculeur de truie. ça me casse vraiment les couilles de pas avoir le droit de mettre
        un putain de lorem ipsum qu'es ce que je perd du temps à raconter de la merde pour que dalle c'est pas mon taff je suis pas scénariste
    </div>
{% endblock %}