{% extends "base.html.twig" %}

{% block title %}Vos données personnelles{% endblock %}

{% block body %}
    <h1 class="mt- mb-4 text-center">PROTECTION DE VOS DONNEES PERSONNELLES</h1>

    La société ds-music.com, est respectueuse des règles de protection de la vie privée de ses clients, des prospects et des visiteurs de son site internet, de ses magasins, son site mobile et ses applications mobiles.
L'ensemble des traitements de données personnelles mis en œuvre dans le cadre des services accessibles respecte la réglementation locale applicable en matière de protection des données personnelles et notamment les dispositions de la loi « informatique et libertés » du 6 janvier 1978 modifiée et le Règlement Général sur la Protection des Données (Règlement UE 2016/679) ou « RGPD ».



ENGAGEMENTS DE ds-music.COM EN MATIÈRE DE PROTECTION DES DONNÉES PERSONNELLES.

ds-music.com s'engage à garantir un niveau de protection élevé des données personnelles de ses clients, prospects, utilisateurs de son site internet, son site mobile et ses applications mobiles et de toute autre personne dont elle traite les données personnelles.

ds-music.com s'engage à respecter la règlementation applicable à l'ensemble des traitements de données personnelles qu'elle met en œuvre.

Plus particulièrement, ds-music.com s'engage notamment à respecter les principes suivants :
Vos données personnelles sont traitées de manière licite, loyale et transparente.
Vos données personnelles sont collectées pour des finalités déterminées, explicites et légitimes, et ne sont pas traitées ultérieurement d'une manière incompatible avec ces finalités.
Vos données personnelles sont conservées de manière adéquate, pertinente et sont limitées à ce qui est nécessaire au regard des finalités pour lesquelles elles sont traitées.
Vos données personnelles sont exactes, tenues à jour et toutes les mesures raisonnables sont prises pour que les données inexactes, eu égard aux finalités pour lesquelles elles sont traitées, soient effacées ou rectifiées sans tarder.
ds-music.com met en œuvre les mesures techniques et organisationnelles appropriées afin de garantir un niveau de sécurité adapté au risque inhérent à ses opérations de traitement, répondre aux exigences règlementaires et protéger les droits et les données des personnes concernées dès la conception des opérations de traitement.


Par ailleurs, ds-music.com impose contractuellement le même niveau de protection des données personnelles à ses sous-traitants (prestataires, fournisseurs, etc.).


Enfin, ds-music.com s'engage à respecter tout autre principe s'imposant au regard de la règlementation applicable en matière de protection des données personnelles, et plus précisément concernant les droits conférés aux personnes concernées, les durées de conservation des données personnelles ainsi que les obligations relatives aux transferts transfrontaliers de données personnelles.

{% endblock %}