<h1>Bonjour !</h1>

<p>Afin de réinitialiser votre mot de passe sur le site DS Music, veuillez vous rendre sur ce lien</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans une heune</p>

<p>Cordialement,</p>

<p>DS Music</p>
