{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

<div class="row">
    {% for category in categories %}
            <a  href="{{ path('category_show', {'slug': category.slug }) }}" class="col-6 col-md-4 col-lg-3 cat-container">
                    <h4>{{ category.name }}</h4>
            </a>
    {% endfor %}  
</div>

{% endblock %}
