:root {
    --hover: rgb(86, 230, 210);
}

* {
    margin: 0;
    padding: 0;
}

.product-trait {
    height: 1px;
    width: 100%;
    background-color: black;
}

.product-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-card-price {
    font-size: 1.5rem;
}

.grey-star {
    opacity: 0.5;
}

.product-card-note {
    margin-top: -1rem;
}

.product-card-link {
    text-decoration: none;
    color: black;
}

.comment-trait {
    height: 1px;
    width: 100%;
    background-color: rgba(110, 109, 109, 0.315);
}

.stock-true {
    height: 0.75rem;
    width: 0.75rem;
    margin-top: 0.75rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    background-color: greenyellow;
}

.stock-false {
    height: 0.75rem;
    width: 0.75rem;
    margin-top: 0.75rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    background-color: orange;
}

.product-price {
    font-size: 3rem;
    margin-top : -1rem;
}

.product-cart-btn {
    width: 100%;
}

.btn-cart {
    float: right;
    /* margin-bottom: 5rem; */
}

/* -------- HOME -------- */

.home-subtitle {
    font-size: 1.25rem;
}

.home-free-deliv {
    background-color: black;
    color: white;
    font-size: 2rem;
    height: 5rem;
    text-align: center;
    line-height: 2.65;
    font-family: 'Koulen', cursive;
}

.portrait {
    border-right: 1px solid black;
}

.home-portrait {
    height : 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
    margin: 0 auto;
}

.portrait-text {
    text-align: left;
}