<footer class="footer">

    <div class="footer-subcontainer">
        <a class="footer-logo" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
        <a class="footer-logo" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
        <a class="footer-logo" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    </div>

    <div class="footer-subcontainer">
        <a class="footer-links" href="{{ path('legal_notice') }}">Mentions légales</a>
        <div class="footer-links">|</div>
        <a  class="footer-links" href="{{ path('cgv') }}">Conditions générales de vente</a>
        <div class="footer-links">|</div>
        <a  class="footer-links" href="{{ path('personal_data') }}">Vos données personnelles</a>
    </div>
</footer>