<footer class="footer">
    <div>
        <h4>Nous suivre :</h4>
        <div class="footer-subcontainer">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div>
        <h4>En savoir plus :</h4>
        <div class="footer-subcontainer">
            <a href="">Notre entreprise</a>
            <a href="">Notre équipe</a>
            <a href="">Contacts</a>
        </div>
    </div>
    <div>
        <h4>Informations légales :</h4>
        <div class="footer-subcontainer">
            <a href="">Mentions légales</a>
            <a href="">Conditions générales de vente</a>
            <a href="">Frais de port et délais de livraison</a>
        </div>
    </div>
</footer>