{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/slider.css') }}">{% endblock %}
{% block javascripts %}<script src="{{ asset('assets/js/slider.js') }}" defer></script>{% endblock %}

<div class="slider">
    <img src="images/slider/imgc1.jpg" alt="slider-1" class="img__slider active">
    <img src="images/slider/imgc2.jpg" alt="slider-2" class="img__slider">
    <img src="images/slider/imgc3.jpg" alt="slider-3" class="img__slider">
    <div class="previous">
        <i class="fas fa-chevron-circle-left"></i>
    </div>
    <div class="next">
        <i class="fas fa-chevron-circle-right"></i>
    </div>
</div>