<div class="workers-card col-12 col-md-4 col-lg-4 mt-3">
    <div class="card border-0">
        <img class="home-portrait" src="images/profiles/profile1.jpg" alt="Chloé">
            <div class="card-body">
                <p class="workers-card-name">Chloé Dupraz</p>
                <p class="workers-card-subtitle">Directrice DS Music</p>
                <p>S'occupe de la partie administration et organisation d'évènements. Contactez là pour toutes 
                questions relatives à la gestion entreprise et évènements</p>
                <p>06.99.99.99.99</p>
            </div>
    </div>
</div>
<div class=" workers-card col-12 col-md-4 col-lg-4 mt-3">
    <div class="card border-0 h-100">
        <img class="home-portrait" src="images/profiles/profile2.jpg" alt="Romain">
            <div class="card-body">
                <p class="workers-card-name">Romain Castillere</p>
                <p class="workers-card-subtitle">Directeur adjoint DS Music</p>
                <p>S'occupe de toute la partie commerciale de l'entreprise. Contactez le si vous avez des questions relative au partenariats commerciaux</p>
                <p>Contact : 06.99.99.99.99</p>
            </div>
    </div>
</div>
<div class=" workers-card col-12 col-md-4 col-lg-4 mt-3">
    <div class="card border-0 h-100">
        <img class="home-portrait" src="images/profiles/profile3.jpg" alt="Romain">
            <div class="card-body">
                <p class="workers-card-name">Jean Brieux</p>
                <p class="workers-card-subtitle">Responsable des ventes</p>
                <p>Responsable des ventes du magasin. S'occupe de service après-vente. Contactez le pour toutes questions liées à un achat, passé ou à venir</p>
                <p>Contact : 06.99.99.99.99</p>
            </div>
    </div>
</div>